$checkbox-size: 14px;

@mixin scrollbar-style() {
	&::-webkit-scrollbar {
		width: 9px;
		height: 9px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #aaafb3;
		border-color: transparent;
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: rgb(230, 230, 230);
		border-color: transparent;
		margin: 3px;
	}

	&::-webkit-scrollbar-corner {
		background: rgba(141, 141, 143, 0.55);
	}

	&:hover {
		overflow: auto;
	}

	& {
		overflow:hidden;
	}

	// For IE11
	scrollbar-base-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-face-color: #aaafb3;
	scrollbar-arrow-color: #aaafb3;
}

.aggrid-container{
	position: relative;
	height: 100%;
	width: 100%;

	.pretty-ag-grid {
		&.ag-fresh .ag-ltr {
			.ag-header{
				min-height: 66px;
			}

			.secdo-aggrid-checkbox {
				&.unchecked {
					background: url(/assets/grid/secdo-aggrid-checkbox-unchecked.png) no-repeat;
					width: $checkbox-size;
					height: $checkbox-size;
					display: inline-block;
				}

				&.checked {
					background: url(/assets/grid/secdo-aggrid-checkbox-checked.png) no-repeat;
					width: $checkbox-size;
					height: $checkbox-size;
					display: inline-block;
				}

				&.intermediate {
					background: url(/assets/grid/secdo-aggrid-checkbox-intermediate.png) no-repeat;
					width: $checkbox-size;
					height: $checkbox-size;
					display: inline-block;
				}
			}

			.ag-row-odd {
				background-color: #F5F8FA;
			}
			.ag-row-even {
				background-color: #ffffff;
			}

			.ag-cell {
				padding-top: 12px;
				width: auto;
				height: 100%;
				display: block;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				text-align: left;
				padding-left: 9px;
				align-self: center;
			}

			.ag-cell-no-focus {
				border-right: 1px solid #e8e1e1;
				border-top: 1px solid #e8e1e1;
			}
		}
	}
}